{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="m-0">Acessar sua Conta</h5>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary w-100">Entrar</button>
        </form>
      </div>
      <div class="card-footer text-center">
        <small>Não tem uma conta? <a href="{% url 'cadastro' %}">Cadastre-se</a></small>
      </div>
    </div>
  </div>
</div>
{% endblock %}
